.following {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.following > :nth-child(1) {
  width: 67%;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
}

.following > :nth-child(1) > img {
  width: 3rem;
  border-radius: 50%;
}

.default {
  font-size: 3rem;
  color: gray;
}

.following > :nth-child(1) > div > :nth-child(1) {
  font-weight: bold;
  white-space: nowrap;
  font-size: small;
}

.following > :nth-child(1) > div > :nth-child(2) {
  color: gray;
  font-size: smaller;
  white-space: nowrap;
}

.follow {
  width: 32%;
  border: none;
  background-color: rgb(88, 88, 188);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-size: small;
}

.unfollow {
  width: 32%;
  border: none;
  background-color: rgb(88, 88, 188);
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-size: small;
}
