.home-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-right > :nth-child(3) {
  border: none;
  background-color: rgb(88, 88, 188);
  padding: 0.9rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
}
