.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.search-bar > :nth-child(1) {
  color: rgb(80, 80, 188);
  font-size: 2.3rem;
}

.search-bar > :nth-child(2) {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar > :nth-child(2) > :nth-child(1) {
  width: 13rem;
  border: none;
  padding: 0.6rem;
  background-color: rgb(234, 215, 215);
  border-radius: 0.5rem;
  outline: none;
}

.search-bar > :nth-child(2) > :nth-child(2) {
  right: 0.2rem;
  background-color: rgb(80, 80, 188);
  border-radius: 0.3rem;
  padding: 0.4rem;
  cursor: pointer;
  position: absolute;
}
