.navbar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.navbar-search {
  display: flex;
  gap: 1rem;
}

.navbar-search > :nth-child(1) {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.navbar-search > input {
  width: 100%;
  border: none;
  padding: 0.6rem;
  background-color: rgb(234, 215, 215);
  border-radius: 0.5rem;
  outline: none;
}

.navbar-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4.5rem;
  padding-right: 1rem;
}

.navbar-components > p {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  font-size: small;
  cursor: pointer;
}

.navbar-components > p > :nth-child(1) {
  font-size: x-large;
}

.navbar-components > :nth-child(1) {
  color: rgb(238, 173, 53);
}

.navbar-components > :nth-child(2) {
  color: blue;
}

.navbar-components > :nth-child(3) {
  color: red;
}

.navbar-components > :nth-child(4) {
  color: rgb(56, 146, 237);
}

.navbar-components > button {
  border: none;
  background-color: rgb(88, 88, 188);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  box-shadow: rgb(76, 74, 80) 0px 5px 10px, rgb(71, 66, 80) 0px 3px 3px;
  transition-property: background-color color;
  transition-duration: 0.5s;
}

.navbar-components > button:hover {
  background-color: rgb(109, 200, 231);
  color: black;
}

.share-img-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.share-img-preview > :nth-child(1) {
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  color: white;
  font-size: larger;
}
.share-img-preview > :nth-child(2) {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.error {
  color: red;
  align-self: flex-end;
  padding-right: 1rem;
}
